# Ignorar la carpeta node_modules (paquetes de npm)

# Ignorar el archivo .env que contendrá variables de entorno (si lo tienes)
.env

# Ignorar archivos de logs
*.log

# Ignorar archivos de compilación de la aplicación
/dist/
